<h1>成為小說家吧</h1>
<ul>
    <% @novels.each do |n| %>
    <li> <%= link_to n.title, novel_path(n.id) %> </li>
    <% end %>
</ul>

<% if user_signed_in? %>
    <%= link_to "建立新的小說", new_novel_path %>
    <%= link_to "登出", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "登入", new_user_session_path %>
<% end %>